{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1>Let's Talk!</h1>
    <p>I'm always open to discussing new projects or opportunities. Feel free to reach out!</p>
    <p><strong>Email:</strong>juliusrlnd@gmail.com.</p>
    <p><strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/isiakpona-chuks-14b93235" target="_blank">Profile</a>.</p>
    <p><strong>Github:</strong><a href="https://github.com/providingperspectives" target="_blank">Github Projects</a>.</p>
{% endblock %}