{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero">
        <div class="left">
            <h1>Hi, I'm Isiakpona Chuks — Software Developer</h1>
            <p>I build full-stack web applications with Python, Node.js, React, and ReactNative. I also work on mobile Apps, AI-RAG System, and APIs.</p>
            <div style="margin-top:18px">
                <a class="btn" href="{{ url_for('main.portfolio') }}">View my projects</a>
            </div>
            <div style="margin-top:18px" class="badges">
                <span class="badge">Python</span>
                <span class="badge">React</span>
                <span class="badge">Node.js</span>
                <span class="badge">AI / ML</span>
                 <span class="badge">ReactNative</span>
            </div>
        </div>
        <div class="right">
            <!-- avatar image -->
            <img class="avatar" src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile avatar">
        </div>
    </section>

    {% if country == "Nigeria" %}
        <p style="margin-top:18px">Currency is NGN</p>
    {% elif country == "usa" %}
        <p style="margin-top:18px">Currency is USD</p>
    {% else %}
        <p style="margin-top:18px">Your default currency set to BTC!</p>
    {% endif %}

    {% if source %}
        <p style="margin-top:12px">Thanks for visiting through {{ source }}</p>
    {% endif %}
{% endblock %}


